@use "../../global_styles/includes.scss" as *;

.loader-block {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $main-text-2;
  z-index: 1003;
  display: flex;
  align-items: center;
  &__line {
    background-color: $main-bg-2;
    height: 1px;
  }
  &__lines {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    align-items: flex-end;
    &__block {
      width: calc(100% / 5);
      background-color: $violet;
      border: {
        left: 1px solid $main-text;
        right: 1px solid $main-text;
      };
    }
  }
}