@use "../../global_styles/includes.scss" as *;

.root-hero-section {
  padding: {
    top: 60px;
    left: 40px;
    right: 40px;
    bottom: 40px;
  };
  background-color: $main-text-2;
  @media screen and (max-width: $breakpoint-mobile) {
    padding-top: 75px;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__header {
    & h1 {
      @include font(clamp(2rem, 10cqi, 14rem), 800);
      align-self: center;
      line-height: 0.82;
      color: $main-bg-2;
      & span {
        display: block;
      }
      & em {
        background-color: $pale-yellow;
        color: $main-text-2;
        padding: 0 0.1em;
	      display: inline-block;
      }
    }
  }
  &__bid-form {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    @media screen and (max-width: $breakpoint-mobile) {
      flex-direction: column;
    }
    &__bid {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 50%;
      @media screen and (max-width: $breakpoint-mobile) {
        width: 100%;
      }
      & h3 {
        line-height: 0.82;
        @include font(2rem, 800);
        color: $main-bg-2;
      }
      & form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        & input {
          width: 100%;
          @include font(1rem, 800);
          background-color: $main-bg-2;
          padding: 6px 12px;
          border-radius: 5px;
        }
        & textarea {
          width: 100%;
          @include font(1rem, 800);
          background-color: $main-bg-2;
          padding: 6px 12px;
          border-radius: 5px;
          min-height: 100px;
        }
        & button {
          @include font(1.3rem, 800);
          background-color: $pale-yellow;
          color: $main-text-2;
          border-radius: 5px;
          padding: 6px 8px;
        }
      }
      &__checkbox {
        display: flex;
        align-items: center;
        gap: 10px;
        & input[type="checkbox"] {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          cursor: pointer;
          background-color: $main-bg-2;
          &:checked {
            background-color: $pale-yellow;
          }
        }
        & p {
          @include font(.8rem, 800);
          color: $main-bg-2;
        }
      }
    }
    &__content {
     width: 50%;
      display: flex;
      flex-direction: column;
      gap: 15px;
      @media screen and (max-width: $breakpoint-mobile) {
        width: 100%;
      }
      & h2 {
        line-height: 0.82;
        @include font(2rem, 800);
        color: $main-bg-2;
        @media screen and (max-width: $breakpoint-mobile) {
          font-size: 1rem;
        }
      }
      & p {
        @include font(1rem, 800);
        background-color: $violet;
        color: $main-text-2;
        padding: 0 0.1em;
        display: inline-block;
         @media screen and (max-width: $breakpoint-mobile) {
          line-height: 1.3;
          font-size: .8rem;
         }
      }
    }
  }
}