$main-text: #111111;

$pale-blue: #CED7E4;
$pale-white: #DEE1E4;
$pale-white-2: #F6F7F9;
$pale-text: #486284;
$pale-grey: #C4C4C4;
$pale-white-3: #F3F3F3;
$card: #D3DCE7;




$main-bg-2: #e3e1e1;
$main-text-2: #2a2a2a;
$second-text: #605f5f;
$main-bg: #FFFFFF;
$white: $main-bg;
$pale-yellow: #fff083;
$burgundy: #c12060;

$violet: rgb(252, 139, 252);