@use "../../global_styles/includes.scss" as *;

.navigation {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1001;
}

.menu {
  width: 100%;
  max-width: 1900px;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: $main-text-2;
  border-bottom: solid 1px rgba($main-bg-2, .1);
  padding: {
    top: 10px;
    bottom: 10px;
    left: 40px;
    right: 40px;
  };
  justify-content: space-between;
  @media screen and (max-width: $breakpoint-mobile) {
    padding: {
      left: 20px;
      right: 20px;
    };
  }
}

.logo {
  width: 40px;
  height: 40px;
  position: relative;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.actions {
  display: flex;
  column-gap: 20px;
  align-items: center;
  & a {
    @include font(1rem, 800);
    background-color: $pale-yellow;
    padding: 3px 10px;
    border-radius: 5px;
    & > div { display: none; }
    @media screen and (max-width: $breakpoint-mobile) {
      position: relative;
      padding: 0;
      background-color: transparent;
      & span {
        display: none;
      }
      & div {
        display: block;
        & svg {
          width: 30px;
          height: 30px;
          color: $pale-yellow;
        }
      }
    }
  }
  & button {
    width: 50px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
}

.action-item {
  width: 70%;
  height: 3px;
  background-color: $main-bg-2;
  transition: all 0.3s ease-in-out;
}

.action-item-1 {
  transform: translateX(10px);
}

.menu-points-fullscreen {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 1000;
}

.menu-points {
  width: 100%;
  min-height: 400px;
  background-color: $main-text-2;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 1900px;
  padding: {
    top: 50px;
    left: 40px;
    right: 40px;
  };
  @media screen and (max-width: $breakpoint-mobile) {
    height: 100vh;
    padding-bottom: 60px;
  }
}

.target-menu {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.target-menu-social-networks {
  display: flex;
  column-gap: 15px;
  & a svg {
    width: 40px;
    height: 40px;
    color: $main-bg-2;
  }
}

.target-menu-company-phrase {
  & h2 {
    @include font(3rem, 800);
    color: $pale-yellow;
  }
  & p {
    @include font(1rem, 800);
    color: $main-bg-2;
    position: relative;
    padding-left: 5px;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 3px;
      background-color: $pale-yellow;
    }
  }
}

.template-items {
  & span {
    @include font(2rem, 800);
    color: $pale-yellow;
  }
  & ul {
    & li a {
      @include font(1rem, 800);
      color: $main-bg-2;
    }
  }
}

.action-item-active-0 {
  transform: rotate(45deg) translateY(10px) translateX(10px);
}

.action-item-active-1 {
  transform: translateX(100px);
  opacity: 0;
}

.action-item-active-2 {
  transform: rotate(-45deg) translateY(-1px);
}